html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    font-family: 'Andale Mono', monospace;
    text-align: center;
}

/* Стиль для заголовков1 */
h1 {
    font-size: 40px;
}

/* Стиль для ссылок */
a {
    text-decoration: none;
    color: black;
}

/* Делаем так, чтобы контент занимал всю доступную высоту и не перекрывал футер */
.content {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    overflow-y: auto;
}

/* Стиль для footer */
footer {
    flex-shrink: 0;
}

/* Стиль контента футера */
.footer-content {
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    font-weight: bold;
}

/* Стиль для ссылок в футере */
.footer-link-left,
.footer-link-right {
    flex: 1;
    justify-content: center;
}

/* Стиль для текста футера */
.footer-text {
    flex: 2;
    text-align: center;
}