{% extends 'base.html' %}

{% load static %}

{% block title %}Главная страница{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/main_page_style.css' %}">
{% endblock %}

{% block content %}
    <h1>
        Привет, меня зовут Михаил Дамакальщиков.
        Можешь поближе познакомиться со мной.
    </h1>
    <div class="grid">
        <div class="grid-item">
            <a href="/about">Обо мне.</a>
        </div>
        <div class="grid-item">
            <a href="/blog">Блог.</a>
        </div>
        <div class="grid-item">
            <a href="/goals">Цели.</a>
        </div>
        <div class="grid-item">
            <a href="/resources">Материалы.</a>
        </div>
    </div>
{% endblock %}
